/vendor/
/node_modules/

/.env
/.env.*

/public/hot
/public/mix-manifest.json
/public/build
/public/css/
/public/js/
/public/storage

/storage/*.key

/.phpunit.result.cache
.phpunit.cache

Homestead.json
Homestead.yaml

/.idea
/.vscode

/.DS_Store
Thumbs.db

